/* styles/Home.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(135deg, #cfa2d9, #e0aad7, #b88c9d);
  color: #444;
  /* height: 100vh; */
}

body.dark {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(135deg, #2d1e2f, #3a1f34, #1f1b24);
  color: #e0d4eb;
}

/* .container {
  border: 1px solid #e0c7f1;
  margin: 3.125rem auto; 
  padding: 1.25rem; 
  text-align: center;
  background: linear-gradient(135deg, #e0c7f1, #f0e7f9, #d8b2d6);
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
} */

.position-boutons-identifiants {
  display: flex;
  flex-direction: column;
  align-items: center; /* optionnel : pour centrer horizontalement */
}

.container {
  border: #e0c7f1;
  max-width: 37.5rem; /* 600px */
  margin: 3.125rem auto; /* 50px */
  padding: 1.25rem; /* 20px */
  text-align: center;
  /* background-color: rgb(227, 167, 210); */
  background: linear-gradient(135deg, #e0c7f1, #f0e7f9, #d8b2d6);
  border-radius: 0.75rem; /* 12px */
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

body.dark .container{
  border: 1px solid #e0c7f1;
  /* background-color: red; */
  background: linear-gradient(135deg, #1e1822, #2d2534, #3a2f41); 
  color: #d1bfe3;
}
body.dark ol{
  color:white;
}

.header {
  max-width: 37.5rem; 
  margin: 0.925rem 2.725rem 1.225rem 2.725rem; 
  padding: 0.55rem 1.25rem 0.55rem 1.25rem  ;
  text-align: center;
  background-color:  #5a9a7f;
  border-radius: 0.75rem; 
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}
body.dark .header{
  max-width: 37.5rem; 
  margin: 0.925rem 2.725rem 1.225rem 2.725rem; 
  padding: 0.55rem 1.25rem 0.55rem 1.25rem  ;
  text-align: center;
  background-color:  #d1d6d4;
  border-radius: 0.75rem; 
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.75rem; /* 28px */
  margin: 0.25rem auto; /* 20px */
  color: #ffffff; /* Vert apaisant */
}

body.dark h1{
  color:rgb(52, 52, 52);
}
h1 span {
  display: inline-block;
  transform: rotate(5deg); /* Ajuste pour arrondir */
}

h2 {
  font-size: 1.25rem; /* 28px */
  margin-top: 0.05rem; /* 20px */
  margin-bottom: 0.05rem; /* 20px */
  color: #5a9a7f; /* Vert apaisant */
}

h3 {
  font-size: 1.35rem; /* 28px */
  margin: auto;
  margin-top: 1.85rem; /* 20px */
  margin-bottom: 0.25rem; /* 20px */
  color: #5a9a7f; /* Vert apaisant */
  background-color: #e9e2f0;
  border: #cfa2d9 1px solid;
  border-radius: 10px;
  width: 75%; 
}

h4 {
  font-size: 1.05rem; /* 28px */
  margin: auto;
  margin-top: 0.85rem; /* 20px */
  margin-bottom: 1.25rem; /* 20px */
  color: #5a9a7f; /* Vert apaisant */
  background-color: #e9e2f0;
  border: #cfa2d9 1px solid;
  border-radius: 10px;
  width: 85%; 
}

.h4-pseudo {
  font-size: 1.05rem; /* 28px */
  margin: auto;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-top: 0.85rem; /* 20px */
  margin-bottom: 1.25rem; /* 20px */
  color: #252526; /* Vert apaisant */
  background-color: #d8c2ee;
  border: #cfa2d9 1px solid;
  border-radius: 10px;
  width: 85%; 

}

.pseudo-style {
  color: #000000;
  font-family: 'Press Start 2P', cursive; /* typique style arcade */
  font-size: 1.05rem;
}

.h4-bis {
  font-size: 1.05rem; /* 28px */
  padding-top: 0.5rem;
  margin: auto;
  margin-top: 0.85rem; /* 20px */
  margin-bottom: 1.25rem; /* 20px */
  color: #5a9a7f; /* Vert apaisant */
  background-color: #e9e2f0;
  border: #cfa2d9 1px solid;
  border-radius: 10px;
  width: 75%; 
}
h5 {
  font-size: 1.05rem; /* 28px */
  margin: auto;
  margin-top: 0.05rem; /* 20px */
  margin-bottom: 0.05rem; /* 20px */
  color: #123d2b; /* Vert apaisant */
  /* background-color: #c294ef; */
  background: linear-gradient(135deg, #cfa2d9, #e0aad7, #b88c9d);
  background: linear-gradient(135deg, #cfa2d9, #e0aad7, #f3e0e7);
  border: #cfa2d9 1px solid;
  border-radius: 10px;
  width: 60%; 
}
h6 {
  font-size: 1.35rem; /* 28px */
  margin: auto;
  margin-top: 1.85rem; /* 20px */
  margin-bottom: 1.05rem; /* 20px */
  color: #5a9a7f; /* Vert apaisant */
  background-color: #e9e2f0;
  border: #cfa2d9 1px solid;
  border-radius: 10px;
  width: 75%; 
  text-align: center;
}

.h7 {
  font-size: 1.15rem; /* 28px */
  margin: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1.25rem; /* 20px */
  margin-bottom: 1.05rem; /* 20px */
  color: #5a9a7f; /* Vert apaisant */
  background-color: #e9e2f0;
  border: #cfa2d9 1px solid;
  border-radius: 10px;
  width: 75%; 
  text-align: center;
}

.stars {
  margin: 0.05rem 0; /* 20px */
  font-size: 2.5rem; /* 40px */
}

.star {
  color: #d3d3d3; /* Gris clair */
  cursor: pointer;
  transition: color 0.3s;
  text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.7);
}

.star.active {
  /* color: #ffd700;  */
  color: #da791e; /* Jaune or pour l'étoile active */
}

.phrase-input {
  width: 90%;
  height: 6.25rem; /* 100px */
  padding: 0.625rem; /* 10px */
  margin: 1.25rem 0 0 0; /* 20px */
  font-size: 1rem; /* 16px */
  border-radius: 0.5rem; /* 8px */
  border: 0.0625rem solid #ddd; /* 1px */
  resize: none;
}

.boutton-clear-submit-index{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-around;
  flex: 1;
}

.boutton-clear-submit-index-idOublie{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: right;
  flex: 1;
}

.login-input {
  width: 35%;
  height: 2.25rem; /* 100px */
  padding: 0.625rem; /* 10px */
  margin: 0.35rem ; /* 20px */
  font-size: 1rem; /* 16px */
  border-radius: 0.5rem; /* 8px */
  background-color: #f0ccee;
  border: 0.0625rem solid #ddd; /* 1px */
  text-align: center;

}

.hr {
  width: 70%;
  color: black;
  background-color: #5a9a7f;
  height: 0.225rem; /* Ajuster la hauteur en rem */
  border: none; /* Pour enlever la bordure par défaut */
  margin: 0.85rem auto  0.85rem ; /* Ajouter un peu de marge autour de la ligne */
}

.hr-phraseGratitude{
  width: 75%;
  color: black;
  background-color: #5a9a7f;
  height: 0.075rem; /* Ajuster la hauteur en rem */
  border: none; /* Pour enlever la bordure par défaut */
  margin: 0.35rem auto  0.1rem ; /* Ajouter un peu de marge autour de la ligne */
}

.hr-settings{
  width: 55%;
  color: black;
  background-color: #5a9a7f;
  height: 0.075rem; /* Ajuster la hauteur en rem */
  border: none; /* Pour enlever la bordure par défaut */
  margin: 0.35rem auto  0.1rem ; /* Ajouter un peu de marge autour de la ligne */
}

.regles{
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.regles.dark{
  color:white;
}

.checkBox-regles{
  transform: scale(1.5);
  margin-left: 0.5rem;
 
}

.submit-button {
  background-color: #5a9a7f; /* Vert apaisant */
  color: white;
  border: none;
  padding: 0.75rem 1.5rem; /* 12px 24px */
  font-size: 1.125rem; /* 18px */
  border-radius: 0.5rem; /* 8px */
  cursor: pointer;
}

.submit-button:hover {
  background-color: #4b8b6b;
}
.submit-button-identifiants1 {
  background-color: #5a9a7f; /* Vert apaisant */
  color: white;
  border: none;
  padding: 0.75rem 1.5rem; /* 12px 24px */
  font-size: 1.125rem; /* 18px */
  border-radius: 0.5rem; /* 8px */
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 1rem;

}

.submit-button-identifiant1s:hover {
  background-color: #4b8b6b;
}
.submit-button-identifiants {
  background-color: #5a9a7f; /* Vert apaisant */
  color: white;
  border: none;
  padding: 0.75rem 1.5rem; /* 12px 24px */
  font-size: 1.125rem; /* 18px */
  border-radius: 0.5rem; /* 8px */
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.submit-button-identifiants:hover {
  background-color: #4b8b6b;
}

.submit-button-id {
  background-color: #74cbdc; /* Vert apaisant */
  color: rgb(43, 38, 38);
  border: none;
  padding: 0.45rem 0.75rem; /* 12px 24px */
  margin-right: 1rem;
  font-size: 0.8rem; /* 18px */
  border-radius: 0.5rem; /* 8px */
  cursor: pointer;
}

.submit-button-id:hover {
  background-color: #4b8b6b;
}

.submit-button-roue {
  background-color: #74cbdc; /* Vert apaisant */
  color: rgb(58, 54, 54);
  border: none;
  padding: 0.75rem 1.5rem; /* 12px 24px */
  margin-bottom: 1.125rem;
  font-size: 0.8rem; /* 18px */
  border-radius: 0.5rem; /* 8px */
  cursor: pointer;
}

.submit-button-roue:hover {
  background-color: #4b8b6b;
}

.submit-button-history {
  background-color: #5a9a7f; /* Vert apaisant */
  color: white;
  border: none;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem; /* 12px 24px */
  font-size: 1.125rem; /* 18px */
  border-radius: 0.5rem; /* 8px */
  cursor: pointer;
}

.submit-button-history:hover {
  background-color: #4b8b6b;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Aligne le bouton à droite */
}

.submit-button-deco {
  background-color: #ff4949; /* Vert apaisant */
  color: rgb(0, 0, 0);
  border: none;
  /* margin-top: 0.75rem; */
  padding: 0.75rem 0.75rem 0.50rem 0.75rem; /* 12px 24px */
  font-size: 1.125rem; /* 18px */
  border: solid 1px white;
  border-radius: 50%; /* 8px */
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button-deco:hover {
  background-color: #8e8484;
  color: rgb(232, 114, 114);
}

.submit-button-settings {
  background-color: #bfc6eb;
  color: rgb(0, 0, 0);
  border: none;
  /* margin-top: 0.75rem; */
  padding: 0.75rem 0.75rem 0.50rem 0.75rem; /* 12px 24px */
  font-size: 1.125rem; /* 18px */
  border: solid 1px white;
  border-radius: 50%; /* 8px */
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button-settings:hover {
  background-color: #8e8484;
  color: rgb(232, 114, 114);
}

.submit-button-clear {
  background-color: #f19150; /* Vert apaisant */
  color: white;
  border: none;
  padding: 0.75rem 1.5rem; /* 12px 24px */
  font-size: 1.125rem; /* 18px */
  border-radius: 0.5rem; /* 8px */
  cursor: pointer;
}

.submit-button-clear:hover {
  background-color: #ec51c6;
}

.input-field-login{
  margin-left: 0.5rem;
}

.logout-icon {
  width: 1.05rem; /* Taille de l'image, ajustez selon vos besoins */
  height: 1.05rem; /* Taille de l'image, ajustez selon vos besoins */
}
.settings-icon {
  width: 1.35rem; /* Taille de l'image, ajustez selon vos besoins */
  height: 1.35rem; /* Taille de l'image, ajustez selon vos besoins */
  background-color: #bfc6eb;
}

.fenetre-gratitude{
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  height: 8rem;
  background-color: #bfc6eb;
  text-align: center;
  margin: auto;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p {
  font-size: 0.9rem;
  line-height: 2.0;
  padding-top: 0.9rem; 
  margin-left: 2rem;  /* Marge à gauche */
  margin-right: 2rem; /* Marge à droite */
}

body.dark p {
  color:rgb(56, 52, 52);
}

.chart-container {
  height: 15rem; /* Spécifie la hauteur ici */
  width: 100%; /* Optionnel, pour garantir que le graphique prend toute la largeur du conteneur */
}

.chart-legend {
  border: 2px solid #333;  /* Bordure autour de la légende */
  border-radius: 5px;      /* Coins arrondis */
  padding: 10px;           /* Espacement interne */
  background-color: rgba(255, 255, 255, 0.7); /* Fond légèrement transparent */
}

/* Optionnel : Styliser les éléments de la légende */
.chart-legend li {
  padding: 5px;
}

.checkbox-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de s'enrouler */
  gap: 10px; /* Ajoute un espace entre les éléments */
}

.checkbox-container label {
  flex: 1 0 30%; /* Chaque label occupe 30% de la largeur de la ligne (3 par ligne) */
  font-size: 15px;
  font-weight: bolder;
  white-space: normal; /* Permet le retour à la ligne si nécessaire */
  overflow-wrap: break-word;
  /* margin-bottom: 10px; */
  margin-right: 10px; 
}

/* Si vous voulez une deuxième ligne avec 2 éléments */
.checkbox-container label:nth-child(n+4) {
  flex: 1 0 45%; /* Pour les éléments après le 3ème, on les fait occuper 45% de la largeur (2 par ligne) */
}

.checkbox-container input {
  margin-right: 10px;
   /* Espace entre la case à cocher et le texte */
}

.rouesDesEmotions img {
  width: 100%;
}
.emotionsProfils img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 2rem 2rem 2rem 0;
}

.droits{
  font-style: italic;
  line-height: 1.2; /* Réduit l’interligne */
  font-size: 0.75rem; /* Optionnel : si tu veux aussi la rendre discrète */
  color: #433f3f; /* Optionnel : couleur plus douce */
  margin-right: 0.5rem;
  margin-left: 0.5rem;

}

body.dark .droits{
  color: #ffffff;
}

/* .time-filter button {
  padding: 0.6rem 1.0rem; 
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  gap:0.3rem;
  margin-top: 0.5rem;
} */

.time-filter {
  display: flex;
  gap: 0.5rem; /* espace horizontal entre les boutons */
  justify-content: space-around;
  margin-top: 0.85rem; /* optionnel, pour espacer du reste */
  flex-wrap: wrap;
}

.time-filter button {
  padding: 0.6rem 1.0rem;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.settings {
  width:98.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-settings{
  width:1.4rem;
  height:1.4rem;
}

form .error-message {
  color: red;
  font-size: 1rem; /* Taille de police en rem */
  font-weight: bold;
  padding-top: .6rem;
}


.error-message {
  color: red;
  font-size: 1rem; /* Taille de police en rem */
  font-weight: bold;
  padding-top: .6rem;
}

.button-option {
  margin-left: 0.8rem;
  background-color: transparent;  /* Pas de fond coloré */
  border: none;  /* Pas de bordure */
  font-size: 0.8rem;  /* Taille de l'emoji */
  cursor: pointer;  /* Curseur en forme de main */
  transition: transform 0.3s ease, opacity 0.3s ease;  /* Transition douce pour l'effet hover */
  color: #4A4A4A;  /* Couleur du texte (emoji) gris clair */
  padding: 5px;  /* Un petit peu d'espace autour de l'emoji */
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.button-option:hover {
  transform: scale(1.2);  /* Agrandissement de l'emoji au survol */
  opacity: 0.8;  /* Légère transparence au survol */
}

.button-option:active {
  transform: scale(1);  /* Retour à la taille normale lors du clic */
  opacity: 1;  /* Remettre l'opacité à 1 */
}

.label-theme {
  font-size: 1.1rem;
  color: #5a9a7f;
  margin-right: 0.5rem;
}

.label-theme.dark {
  color: #ffffff;
}

.theme-select {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #cfa2d9;
  border-radius: 0.5rem;
  background: #f8ecf8;
  color: #5a9a7f;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

.theme-select:focus {
  outline: none;
  border-color: #a27cb4;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(202, 144, 218, 0.6);
}

.phrase-select {
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  border: 1px solid #cfa2d9;
  border-radius: 0.5rem;
  background: #f8ecf8;
  color: #5a9a7f;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  text-align: center;
}

.phrase-select:focus {
  outline: none;
  border-color: #a27cb4;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(202, 144, 218, 0.6);
}

.popup-success {
  background-color: #28a745; /* Vert de succès */
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
  animation: fadeIn 1s ease-in-out;
}

/* Animation pour faire apparaître le pop-up */
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
