/* styles/mobile.css */
@media (max-width: 450px) {
    .container {
        padding: 0.625rem; /* 10px */
        margin: 1.25rem; /* 20px */
      }
      
      .stars {
        font-size: 1.875rem; /* 30px */
      }
      
      .phrase-input {
        font-size: 0.875rem; /* 14px */
      }
      
      .submit-button {
        font-size: 1rem; /* 16px */
      }
  }
  